<html>

<body>


  <mat-toolbar class="toolbar" color="primary">
    <div class="logo-container">
      <a [routerLink]="['/dashboard']">
        <img src="../../assets/images/logo.png" class="logo_header" alt="My Logo">
      </a>
    </div>
    <span>CMatchApp</span>
    <div class="match-button">
      <button color="warn" mat-raised-button [routerLink]="['/new-matches']">New Matches</button>
      <button color="warn" mat-raised-button [routerLink]="['/old-matches']">Old Matches</button>
    </div>
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab color="warn" [routerLink]="['/favourites']" aria-label="Example icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="warn" [routerLink]="['/recommendation']"
          aria-label="Example icon button with a filter list icon">
          <mat-icon>filter_list</mat-icon>
        </button>
      </div>
    </div>
    <button class="logout" color="accent" mat-raised-button (click)="logout()">Logout</button>
  </mat-toolbar>

  <div class="mat-container">
    <h1><b>WatchList</b></h1>
    <mat-card class="mat-card" *ngFor="let match of matchList">
      <mat-card-content class="card-content">
        <p><b>Team 1 : </b>{{match.team_1}}</p>
        <p><b>Team 2 : </b>{{match.team_2}}</p><br>
        <p><b>Date : </b>{{match.date}}</p><br>
        <p><b>{{match.type}}</b></p>
      </mat-card-content>
      <mat-card-actions class="mat-button">
        <button mat-raised-button color="primary" (click)="removefromfavorite(match)">Remove</button>
      </mat-card-actions>

    </mat-card>
  </div>

</body>

</html>